.navContainer{
    display: flex;
    justify-content: space-between;
    color: var(--textColor);
    align-items: center;
    padding: 2rem 4rem;
    font-weight: 600;
}
img{
    height: 30px;
    width: 143px;
}
.span{
    display: flex;
    justify-content: space-between;
    width: 431px;
    height: 26px;
}
.btn{
    height: 47px;
    width: 172px;
    background-color: var(--primaryColor);
    color: var(--textColor);
    border: 2px solid var(--textColor);
    box-sizing: content-box;
    cursor: pointer;
    font-size: 1rem;
}